/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

nav {
    display: block;
}

.row {
    max-width: 1130px;
    margin: 0 auto;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 100px;
}

.main-nav li {
    display: inline-block;
    margin-left: 50px;
    font-size: 150%;
    margin-right: 10px;
}

.logo img {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.title {
    float: left;
    margin-left: 20px;
    font-size: 25px;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}


/* Dropdown button */
.dropdown .dropdown-link {
    font-size: 150%;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

.dropdown .dropdown-link:visited {
    color: red;

}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}