/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix{zoom: 1}
.clearfix:after{
    content: '.';
    clear: both;
    display:block;
    height: 0;
    visibility: hidden;
}
nav{
    display: block;
}
.row{
    max-width: 1130px;
    margin: 0 auto;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 100px;
}

.main-nav li {
    display: inline-block;
    margin-left: 50px;
    font-size: 150%;
    margin-right: 10px;
}

.logo img{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.title{
    float: left;
    margin-left: 20px;
    font-size: 25px;
}


